@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-literata: var(--font-literata);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: clip;
  max-width: 1920px; /* ограничиваем ширину */
  margin: 0 auto; /* центрируем */
  width: 100%; /* вместо 100vw */
  display: flex;
  flex-direction: column;
}
